project:
  type: website
  output-dir: docs

website:
  title: ""
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    from: markdown+fenced_divs
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



